<form method="post" action="/add-account">
  <input name="name" placeholder="Konto Name" required>

  <select name="side" id="side">
    <option value="active">Aktivkonto</option>
    <option value="passive">Passivkonto</option>
  </select>

  <select name="type" id="type">
    <option value="current">Umlaufvermögen</option>
    <option value="non-current">Anlagevermögen</option>
    <option value="short-term">Kurzfristiges Fremdkapital</option>
    <option value="long-term">Langfristiges Fremdkapital</option>
    <option value="equity">Eigenkapital</option>
  </select>


  <input name="amount" type="number" step="0.01">
  <select name="flow">
    <option value="inflow">Zunahme</option>
    <option value="outflow">Abnahme</option>
  </select>

  <button type="submit">Buchen</button>

  <a href="/balance">
  <button type="button">Bilanz anzeigen</button>
  </a>
</form>

<script> //make sure to only allow correct account types for account side (active/passive)
  const sideSelect = document.getElementById("side");
  const typeSelect = document.getElementById("type");

  function updateTypeOptions() {
    const side = sideSelect.value;
    for (const option of typeSelect.options) {
      if (side === "active") {
        option.hidden = !["current", "non-current"].includes(option.value);
      } else {
        option.hidden = !["short-term", "long-term", "equity"].includes(option.value);
      }
    }
  }
  sideSelect.addEventListener("change", updateTypeOptions);
  updateTypeOptions();
</script>
